body {
  margin: 0;
  padding: 0;
}

html, body, #webview-vditor {
  height: 100%;
  width: 100%;
}

.vditor-toolbar {
  display: none;
}

/* Hide code block preview when editing
https://github.com/Vanessa219/vditor/issues/1634#issuecomment-2210367362 */
.vditor-ir__node--expand[data-type="code-block"] .vditor-ir__preview {
    display: none;
}

.vditor {
  --panel-background-color: var(--vscode-editor-background);
  --toolbar-background-color: var(--vscode-editor-background);
  --textarea-background-color: var(--vscode-editor-background);
}
.vditor-ir table td, 
.vditor-ir table th {
  background-color: var(--vscode-editor-background) !important;
}

/* fix font family */
.vditor .vditor-reset {
  font-family: var(--vscode-editor-font-family)!important;
}

/* fix code block color in dark mode */
.vditor--dark .vditor-reset code:not(.hljs):not(.highlight-chroma) {
  background-color: var(--vscode-editor-background);
}

/* fix outline toolbar padding */
.vditor-toolbar.vditor-toolbar--pin {
  padding-left: 35px!important;
}

.vditor-ir pre.vditor-reset {
  position: relative;
}

.vditor-panel {
  transform: translate(-25px, 0);
  max-width: 21px;
  max-height: 21px;
  overflow: hidden;
  transition: width 0.2s ease-in-out;
}

.vditor-panel::after {
  content: '...';
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  color: black;
  text-align: center;
  font-family: none;
}
.vditor-panel:hover,
.vditor-panel_hover {
  opacity: 0.86;
  max-width: none;
  max-height: none;
  overflow: visible;
}

.vditor-panel:hover:after,
.vditor-panel_hover:after {
  display: none;
}

.vditor-reset {
  padding-left: 35px !important;
}
.jconfirm {
  color: black;
}
.jconfirm-buttons button {
  text-transform: none!important;
}
